.container {
  margin-right: 40px;
  display: flex;
  width: 350px;
  margin-bottom: 20px;
}

.imageContainer {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 150px;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  background: #dbdbdb;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.imageContainer > img {
  border-radius: 8px;
}
.departmentCnt {
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.35);
}

.department {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.imageContainer:hover .departmentCnt {
  display: flex;
}

.imageContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.knownContainer {
  flex: 1;
  overflow: hidden;
  margin-left: 15px;
}

.title {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  font-size: 1.1rem;
}

.description {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.knownForCard {
  display: flex;
  margin-bottom: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 50px;
}

.knownForCard > img {
  border-radius: 4px;
}
.textContainer {
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.textContainer > h5 {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.textContainer > p {
  color: #ffffffdb;
  font-weight: 500;
  font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-right: 0;
  }

  .departmentCnt {
    display: flex;
    align-items: flex-end;
  }
}
