.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(3, 37, 65, 1) 70%
  );
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 340px;
}

.headContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.headContainer > h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.headContainer > h2:hover {
  opacity: 0.8;
}

.aboutContainer > p {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}
.aboutContainer > p:hover {
  opacity: 1;
}

.iconContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.iconContainer > svg {
  width: 30px;
  height: 30px;
}

.iconContainer > svg:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 610px) {
  .container {
    padding: 50px 80px;
  }
}
