/* autoprefixer: off */
.container {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  border-radius: 8px;
}

.imageContainer {
  min-width: 94px;
  width: 94px;
  height: 141px;
  flex-shrink: 0;
  background-image: url(https://akam.cdn.jdmagicbox.com/images/icontent/newwap/prot/noposter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  border-radius: 8px;
}

.imageContainer > img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  height: 100%;
}

.textContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 10px 15px;
  flex: 1;
  overflow: hidden;
}

.textContainer > h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0;
  white-space: nowrap;
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
}

.textContainer > h3 {
  white-space: nowrap;
  color: #999;
  font-size: 0.8em;
  text-transform: capitalize;
}

.textContainer > p {
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0.9rem;
}

.textContainer > h4 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 0.9rem;
}

.textContainer > .knownForContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.textContainer > .knownForContainer > span {
  font-weight: 400;
  font-size: 1em;
}

.textContainer > .knownForContainer > span::after {
  content: ',';
  margin-left: 1px;
  position: relative;
  top: -1px;
}

.textContainer > .knownForContainer > span:last-child::after {
  content: none;
}
