.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}

.videoCnt {
  width: 85%;
  height: 80%;
  z-index: 30;
  border-radius: 8px;
  background-color: #000;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.playerCnt {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-shrink: 0;
}

.videoNameCnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 20px;
}

.videoNameCnt > h1 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  margin-left: 20px;
}

.closeIcon {
  font-size: 1.4rem;
  z-index: 40;
  color: var(--white);
}

.closeIcon > svg {
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  .videoCnt {
    width: 90%;
    height: 40%;
    padding-top: 10px;
  }

  .videoNameCnt {
    margin-bottom: 10px;
  }

  .videoNameCnt > h1 {
    font-size: 1rem;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 610px) {
}
