@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,500;0,600;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

:root {
  --white: #ffffff;
  --lightGrey: rgb(227, 227, 227);
  --darkerGrey: rgb(200, 200, 200);
  --DarkBlue: rgb(3, 37, 65);
  --LightBlue: rgb(1, 180, 228);
  --LighterGreen: rgb(192, 254, 207);
  --LightGreen: rgb(30, 213, 169);
  --LogoGreen: rgb(144, 206, 161);
  --LogoOrange: rgb(253, 193, 112);
  --LogoRed: rgb(217, 59, 99);
  --accountSilver: rgb(149, 149, 149);
  --accountPink: rgb(234, 20, 140);
  --accountPurple: rgb(128, 91, 231);
  --accountGreen: rgb(1, 210, 119);
  --accountTeal: rgb(1, 198, 172);
  --accountLightBlue: rgb(1, 180, 228);
  --accountBlue: rgb(1, 119, 210);
  --accountOrange: rgb(210, 119, 1);
  --accountYellow: rgb(210, 144, 1);
  --accountRed: rgb(212, 2, 66);
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-color: var(--DarkBlue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
